* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

/*##################### CSS GLOBALES ##################*/
/*##################### INICIO ##################*/
body {

    background-color: fff;
    color: black;
    font-family: Calibri, sans-serif;
    /* background-image: url(../img/backgroundmobile.jpg); */

}

nav ul {
    display: flex;
}

nav ul li {
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    transition: .4s;
    line-height: 40px;
}

nav ul li:hover {
    background-color: #f5c47a;

}

nav ul li a {
    color: black;

    font-size: 1rem;
    font-weight: 300;
}

.navbar-toggler {
    display: none;
    height: min-content;
    margin: 0 10px;
    cursor: pointer;
}

#navbar-toggler:checked~nav .nav__list {
    transform: translateY(0);
}


input:checked~nav .nav-list {
    z-index: 100;
    transform: translateX(0);
}

/*##################### FIN ##################*/
/*##################### CSS GLOBALES ##################*/




/*##################### Media Query MOBILE + 360px - 485px ##################*/
/*##################### INICIO ##################*/

@media screen and (min-width:360px) and (max-width: 485px) {

    /*##################### CSS NAV ##################*/
    /*##################### INICIO ##################*/
    h1 {
        font-size: 2.2rem;
        text-align: center;
        color: #0E3157;
    }

    .nav__img-container {
        display: flex;

    }

    .contenido_principal #toggle {
        display: none;
    }

    .label__toggler {
        padding: 8px;
    }


    nav .nav__img-container .nav__img-logo {
        padding: 5px;
        width: 100%;
    }

    nav {
        position: fixed;
    }

    nav ul {
        display: flex;

    }

    nav .nav-list {
        left: 0;
        width: 100%;
        display: grid;
        position: absolute;
        background: #F9B041;
        top: 40px;
        transform: translateX(-100%);
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list .nav-item {

        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important;
    }


    /*##################### CSS NAV ##################*/
    /*##################### FIN ##################*/

   /*##################### CSS PAGE:REFUGIOS INDIVIDUALES ##################*/
    /*##################### INICIO ##################*/

    .section__refugio-indiv {
        margin-left: auto;
        margin-right: auto;

        width: 80%;
        display: flex;
        flex-direction: column;
       
      


    }

    .section__refugio-indiv h1 {
        font-size: 3.5rem;
        text-align: center;
       
    }
    .section__refugio-indiv h3 {
        text-align: center;
    }

    .section__refugio-indiv-imgs {

        margin-left: auto;
        margin-right: auto;

    }
.section__refugio-indiv p {
    margin-bottom: 20px;
}
    .section__refugio-indiv-imgs1 img {
        display: flex;
        width: 100%;

    }

    .section__refugio-indiv-imgs1 {

        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 5px;

    }

    .section__refugio-indiv-gridphoto {
        display: grid;
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
    }


    .img_mapa1 img {
        display: flex;

        max-width: 250px;

    }

    .btn__donativo a,
    .btn__visita a {
        font-size: 1.1rem;
        font-weight: 300;
        color: black;
        text-decoration: none;
        

    }
    #onlydesktop{
        display: none;
    }

    .refugio-indiv-btns {
        
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container-refug-btn {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        
    }

    .btn__donativo,
    .btn__visita {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 10px;
        width: 80%;
        height: 2.5rem;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        background-color: #F9B041;
     
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    /*##################### CSS PAGE:REFUGIOS INDIVIDUALES ##################*/
    /*##################### FIN ##################*/


    /*##################### CSS PAGE:CARTA INDIVIDUAL PERRO ##################*/
    /*##################### INICIO ##################*/


    .section__dog-grid-photo {
        width: 100%;
        display: grid;
        grid-template-areas: "dest dest dest dest img1 img2"
            "dest dest dest dest img3 img4";
        align-items: center;

    }

    .section__dog-phto-container {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;


    }

    .section__dog-photo-container h1 {
        font-size: 2.0rem;
        padding-bottom: 30px;
        text-align: center;

    }

    .dog-img-destacada {
        width: 100%;
        grid-area: dest;

    }

    .section__dog-name {
        font-size: 1.3rem;
        text-align: left;
        font-weight: 300;
    }

    .img1 {
        width: 100%;
        grid-area: img1;
    }

    .img2 {
        width: 100%;
        grid-area: img2;
    }

    .img3 {
        width: 100%;
        grid-area: img3;
    }

    .img4 {
        width: 100%;
        grid-area: img4;
    }

    .section__dog-text-main {
        display: flex;
        flex-direction: column;

    }

    .btn__adoptar-card a {

        font-size: 1.2rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__adoptar-card {
        display: flex;
        margin-left: auto;

        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 3.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .section__dog-text-container-left {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-direction: row;
    }

    .section__dog-text-container {
        margin-left: auto;
        margin-right: auto;

        width: 80%;
    }

    .section__dog-text-container-left h3 {
        font-size: 1rem;
        font-weight: 100;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .section__dog-text-container p {
        padding-top: 5px;
        font-size: 1.0rem;
    }

    .section__dog-responsa {
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .section__dog-responsa h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    .section__dog-texttop {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    /*##################### CSS PAGE:CARTA INDIVIDUAL PERRO ##################*/
    /*##################### FIN ##################*/

    /*##################### CSS PAGE:PORQUE ADOPTAR ##################*/
    /*##################### INICIO ##################*/

    .section__porqueadoptar {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section__porqueadoptar h1 {
        padding-top: 20px;
        font-size: 2.5rem;
        padding-bottom: 20px;
    }

    .section__porqueadoptar h2 {
        padding-top: 20px;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .section__porqueadoptar-p1 {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.7rem;
        margin-bottom: 25px;
    }

    .section__porqueadoptar-p2 {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-bottom: 25px;
    }



    /*##################### CSS PAGE:PORQUE ADOPTAR ##################*/
    /*##################### fin ##################*/


    /*##################### CSS PAGE:ADOPCION MENU ##################*/
    /*##################### INICIO ##################*/
    .section__adopta-container {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        display: flex;
        flex-direction: column;


    }

    .section__adopta-menu {
        margin: 20px auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .section__adopta-menu-h3icon {

        display: flex;
        flex-direction: row;
    }

    .section__adopta-main {
        width: 60%;
    }

    .section__adopta-main-invert {
        text-align: right;
        width: 60%;
    }

    .section__adopta-align {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .section__adopta-menu-h3icon-invert {
        text-align: right;
    }

    .h4invert {
        text-align: right;
    }

    .section__adopta-texto {
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;
    }

    .section__adopta-texto p {
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
    }

    .section__adopta-texto h1 {
        font-size: 2rem;
        text-align: center;
    }

    .btn__verinfo a,
    .btn__verinfo-invert a {
        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }


    .btn__verinfo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 2.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .section__adopta-textcard p {
        overflow: hidden;
        max-height: 155px;
    }

    .btn__verinfo-invert {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 10px;
        width: 90%;
        height: 2.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .section__menu-p_desktop {
        display: none;
    }


    /*##################### CSS PAGE:ADOPCION MENU ##################*/
    /*##################### FIN ##################*/

    /*##################### CSS Template base ##################*/
    /*##################### INICIO ##################*/

    .p_desktop {
        display: none;
    }

    .header_img-desktop {
        display: none;
    }

    .p_desktop {
        display: none;
    }


    .backgrounddesktop {
        width: 100%;

        background-image: url("../img/backgroundmobie.png");
        background-position: left top;

    }


    .contenido_principal {

        display: grid;
        grid-template-areas:
            "nav"
            "foto_header"
            "contenido"
            "contenido2"
            "contenido3"
            "contenido4"
            "footer";
    }


    .header img {
        width: 100%;
    }


    .contenido_principal .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        background-color: #F9B041;
        grid-area: nav;
    }

    .contenido_principal .header {
        display: flex;
        margin: 0 auto;
        max-width: 1440px;
        margin-top: 40px;
        grid-area: foto_header;
        padding-bottom: 50px;
    }

    .contenido_principal .content1 {

        grid-area: contenido;
    }


    .contenido_principal .content2 {

        grid-area: contenido2;
    }

    .contenido_principal .content3 {

        grid-area: contenido3;
    }

    .contenido_principal .content4 {

        grid-area: contenido4;
    }



    .contenido_principal .footer {

        grid-area: footer;
    }

    /*##################### CSS Template base ##################*/
    /*##################### FIN ##################*/




    /*##################### CSS SECTION 1 HOME ##################*/
    /*##################### INICIO ##################*/

    .section__card {
        display: flex;
        padding: 10px;

    }

    .section__card-img {
        margin: auto;
        width: 30%;

    }

    .card-img {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .section__card-text {
        width: 70%;
        padding: 5px;
    }

   

    .section__card-text p {

        padding: 5px;
    }

    .section__card .section__card-text-invert {
        text-align: right;
        padding: 5px;
        width: 70%;

    }

    .separador_img {

        width: 100%;
        max-width: 485px;
    }

    .separador {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    /*##################### CSS SECTION 1 HOME ##################*/
    /*##################### FIN ##################*/




    /*##################### CSS SECTION 2 HOME ##################*/
    /*##################### INICIO ##################*/

    .section__info-container {
        width: 100%;

        padding: 10px;
    }

    .section__info-text {
        display: flex;
        flex-direction: column;
    }

    .section__info-img {
        width: 100%;
        float: right;
    }

    .h1_especial {
        text-align: center;
    }


    .section__info-img-container {
        display: none;
    }

    .section2__h1-titulo {
        display: flex;

        align-items: center;
        justify-content: center;
    }

    /*##################### CSS SECTION 2 HOME ##################*/
    /*##################### FIN ##################*/



    .section2__h1-titulo h1,
    .content3 h1,
    .content4 .section__donativo h1 {
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 30px;
    }


    /*##################### CSS SECTION 3 HOME ##################*/
    /*##################### FIN ##################*/
    .section__photos {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .section__cards-dogs {

        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .icon-perro {
        height: 80%;
        width: 50%;
    }


    .section__card-dog-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 76%;

    }

    .section__card-dog-info h3 {
        font-size: 1.4rem;
    }

    .p_card-info {
        width: 100%;
        text-align: left;
        font-size: 1.3rem;

    }

    .btn__adoptar a {
        font-size: 1.8rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__adoptar {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 80%;
        height: 3rem;
        border-radius: 1rem;
        grid-column: span 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    /*##################### CSS SECTION 3 HOME ##################*/
    /*##################### FIN ##################*/


    /*##################### CSS SECTION 4 HOME ##################*/
    /*##################### FIN ##################*/
    .section__donativo {
        text-align: center;
        padding: 10px;
    }

    .section__card-refugio {
        box-shadow: 4px 4px 8px #d1d1d1;
        text-align: center;
        background-color: #f1f1f1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border-radius: 1rem;
        width: 80%;
        padding: 10px;

    }

    .section__card-refugio-color {
        box-shadow: 4px 4px 8px #d1d1d1;
        text-align: center;
        background-color: #F9B041;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border-radius: 1rem;
        width: 80%;
        padding: 10px;

    }


    .section__doghouse img {
        padding-top: 20px;
        width: 60%;
    }

    .section__doghouse {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer {
        background-color: black;
        color: #f1f1f1;
        min-height: 400px;
    }

    .btn__donar a {

        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__donar {
        display: flex;
        margin-left: auto;
        margin-right: auto;

        margin-top: 20px;
        margin-bottom: 25px;

        width: 35%;
        height: 3.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    /*##################### CSS SECTION 4 HOME ##################*/
    /*##################### FIN ##################*/

    .section__card-map img {
        width: 100%;
        border-radius: 0.4rem;
    }

    /*##################### CSS PAGE:REGISTRO REFUGIO ##################*/
    /*##################### INICIO ##################*/

    .section__form-container {
        display: flex;
        flex-direction: column;
        width: 90%;


        margin-left: auto;
        margin-right: auto;

    }


    .inputtext {
        display: flex;
        background-color: #e9e9e9;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 0.2rem;
    }

    .btn__foto a {
        font-size: 1.8rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__foto {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
        height: 3rem;
        border-radius: 0.4rem;
        grid-column: span 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .btn {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
        height: 3rem;
        border-radius: 0.4rem;
        grid-column: span 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;


    }


    .section__form-background {
        width: 100%;
        background-color: #f5f5f5;
        padding-left: 5px;
        padding-right: 5px;

        margin-bottom: 50px;
    }


    .section__form-background h1,
    .section__form-background p {
        padding-top: 10px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .section__reguser-texto {
        margin-bottom: 50px;
    }



    /*##################### CSS PAGE:REGISTRO REFUGIO ##################*/
    /*##################### FIN ##################*/



    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        color: #f1f1f1;
        min-height: 400px;
        
      align-items: center;
        justify-content: center;
    }
    .nav__footer ul{
   
    text-align: center;
   
}
   .nav__footer {    
  
    width: 80%;
    
   }
  
    .nav__footer ul li{
        padding: 5px;
        color: #e9e9e9;
    }
    .nav__footer ul li a
    {
        font-size: 1rem;
        color: #d1d1d1;
        font-weight: 300;
    }
    .footer__logo{
        margin-top: 30px;
        display: flex;
        
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__logo img {
        width: 80%;
    }
    .derechos{
        margin-top: 20px;
    }
    h5{
        font-size: 0.6rem;
    }
}

/*##################### Media Query MOBILE ##################*/
/*##################### FIN ##################*/



/*##################### Media Query DESKTOP + 980px ~ ##################*/
/*##################### INICIO ##################*/

@media screen and (min-width:980px) {
    .contenido_principal #toggle {
        display: none;
    }

    .header_img-mobile {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
        color: #0E3157;
    }

    /*##################### CSS NAV ##################*/
    /*##################### INICIO ##################*/

    nav {

        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        background-color: #F9B041;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        position: fixed;
        line-height: 1.1rem;

    }

    .backgrounddesktop {
        margin: auto;
        max-width: 1440px;
        background-image: url("../img/backgroundesktop.jpg");
        background-position: left top;

    }


    .label__toggler {
        padding: 8px;
    }

    .nav__img-container {
        display: flex;

    }

    nav .nav__img-container .nav__img-logo {
        padding: 5px;

    }

    /*##################### CSS NAV ##################*/
    /*##################### FIN ##################*/



    /*##################### CSS TEMPLATE BASE HOME ##################*/
    /*##################### INICIO ##################*/
    .contenido_principal {

        display: grid;
        grid-template-areas:
            "nav"
            "foto_header"
            "contenido"
            "contenido2"
            "contenido3"
            "contenido4"
            "footer";
    }

    .header_img-desktop {
        display: flex;
        margin-top: 40px;
    }


    .header img {
        width: 100%;
    }


    .contenido_principal .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        background-color: #F9B041;
        grid-area: nav;
    }

    .contenido_principal .header {
        display: flex;
        margin: 0 auto;
        max-width: 1440px;

        grid-area: foto_header;
        padding-bottom: 50px;
    }


    .contenido_principal .content1 {
        width: 90%;
        max-width: 1440px;

        margin-left: auto;
        margin-right: auto;
        grid-area: contenido;
    }


    .contenido_principal .content2 {
        width: 90%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        grid-area: contenido2;
    }

    .contenido_principal .content3 {
        width: 90%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        grid-area: contenido3;
    }

    .contenido_principal .content4 {
        width: 100%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        grid-area: contenido4;


    }



    .contenido_principal .footer {

        grid-area: footer;
    }

    /*##################### CSS TEMPLATE BASE HOME ##################*/
    /*##################### FIN ##################*/


    /*##################### CSS SECTION 1 HOME ##################*/
    /*##################### INICIO ##################*/
    .section__card {
        display: flex;
        margin-bottom: 120px;
        padding: 10px;
    }

    .section__card-img {
        margin: auto;
        width: 30%;

    }

    .card-img {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: row;

    }

    .section__card-text {
        width: 70%;
        padding: 5px;

    }

    .section__card-text h1 {
        font-size: 3.5rem;
        text-align: left;
        padding: 5px;
    }

    .section__card-text p {
        font-size: 1.6rem;
        padding: 5px;
    }

    .p_desktop {
        font-size: 1.6rem;
        padding: 5px;
    }

    .section__card .section__card-text-invert {
        text-align: right;
        padding: 5px;
        width: 70%;

    }

    .section__card-text-invert h1 {
        font-size: 3.5rem;
        padding: 5px;
        text-align: right;
    }

    .section__card-text-invert p {
        font-size: 1.6rem;
        padding: 5px;
    }

    /*##################### CSS SECTION 1 HOME ##################*/
    /*##################### FIN ##################*/



    /*##################### CSS SECTION 2 HOME ##################*/
    /*##################### INICIO ##################*/
    .p__section-info {
        font-size: 1.6rem;
        padding: 5px;
    }

    .section__info-p-container {
        display: flex;
        flex-direction: column;
        width: 60%;

    }

    .section__info-container {
        width: 100%;
        padding: 10px;
        margin-bottom: 150px;
    }

    .section2__h1-titulo {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .section__info-img {

        width: 100%;
        max-width: 350px;
        padding: 5px;
    }

    .section2__h1-titulo h1,
    .content3 h1,
    .content4 .section__donativo h1 {

        font-size: 3.5rem;
        padding-bottom: 30px;
    }

    .h1_especial {
        text-align: right;
    }

    .section__info-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section__info-img2 {
        display: flex;
        flex-direction: column;
    }



    .separador_img {

        width: 100%;
        max-width: 485px;

    }

    .separador {
        display: flex;

        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
        justify-content: center;
    }

    /*##################### CSS SECTION 2 HOME ##################*/
    /*##################### FIN ##################*/






    /*##################### CSS SECTION 3 HOME ##################*/
    /*##################### INICIO ##################*/
    .section__photos {
        margin: 0px auto;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .section__cards-dogs {

        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }




    .section__card-dog-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 76%;

    }

    .icon-perro {
        height: 23px;
        width: auto;
    }

    .section__card-dog-info h3 {
        font-size: 1.4rem;
        padding-bottom: 5px;
        padding-right: 8px;

    }

    .p_card-info {
        width: 100%;
        text-align: left;
        font-size: 1.3rem;

    }

    .btn__adoptar a {
        font-size: 1.8rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__adoptar {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 80%;
        height: 3rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    /*##################### CSS SECTION 3 HOME ##################*/
    /*##################### FIN ##################*/




    /*##################### CSS SECTION 4 HOME ##################*/
    /*##################### INICIO ##################*/

    .btn__donar a {

        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__donar {
        display: flex;
        margin-left: auto;

        margin-top: 20px;
        margin-bottom: 25px;

        width: 35%;
        height: 3.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .section__donativo {
        text-align: right;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-left: auto;



    }

    .h1_especial {
        text-align: right;

    }

    .p__section-donativo {
        margin-left: auto;
        width: 70%;
        line-height: 1.4rem;
    }

    .section__card-refugio {
        box-shadow: 4px 4px 8px #d1d1d1;
        text-align: center;
        background-color: #f5f5f5;
        margin: auto;
        border-radius: 1rem;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section__card-refugio-color {

        box-shadow: 4px 4px 8px #d1d1d1;
        text-align: center;
        background-color: #F9B041;
        margin: auto;
        border-radius: 1rem;
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;

    }

    .section__refugio-container {
        width: 100%;
        max-width: 1440px;
        background-color: #d1d1d1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        margin-bottom: 150px;


    }


    .section__card-map img {
        width: 100%;
        border-radius: 0.4rem;
    }

    .section__box-container {
        padding-left: 45px;
        padding-right: 45px;
        display: flex;
        flex-direction: row;

    }

    .section__doghouse img {
        padding-top: 20px;
        width: 60%;
    }

    .section__doghouse {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /*##################### CSS SECTION 4 HOME ##################*/
    /*##################### FIN ##################*/



    /*##################### CSS PAGE:PORQUE ADOPTAR ##################*/
    /*##################### INICIO ##################*/

    .section__porqueadoptar {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .section__porqueadoptar h1 {
        padding-top: 20px;
        font-size: 3.5rem;
        padding-bottom: 20px;
    }

    .section__porqueadoptar h2 {
        padding-top: 20px;
        font-size: 1.5rem;
        padding-bottom: 20px;
    }

    .section__porqueadoptar-p1 {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.7rem;
        margin-bottom: 25px;
    }

    .section__porqueadoptar-p2 {
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-bottom: 25px;
    }



    /*##################### CSS PAGE:PORQUE ADOPTAR ##################*/
    /*##################### fin ##################*/


    /*##################### CSS PAGE:ADOPCION MENU ##################*/
    /*##################### INICIO ##################*/
    .section__adopta-container {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        display: flex;
        flex-direction: column;


    }

    .section__adopta-menu {
        margin: 20px auto;
        border-radius: 0.5rem;
        width: 90%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        box-shadow: 4px 4px 8px #d1d1d1;
        justify-content: center;
        padding: 10px;

    }

    .section__adopta-menu-h3icon {

        display: flex;
        flex-direction: row;
    }

    .section__adopta-main {
        width: 80%;
    }

    .section__adopta-main-invert {
        text-align: right;
        width: 80%;
    }

    .section__adopta-align {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .section__adopta-menu-h3icon-invert {
        text-align: right;
    }

    .h4invert {
        text-align: right;
    }

    .section__adopta-texto {
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;
    }

    .section__adopta-texto p {
        width: 80%;
        font-size: 1.4rem;
    }

    .section__adopta-texto h1 {
        font-size: 3.5rem;
    }

    .btn__verinfo a,
    .btn__verinfo-invert a {
        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }


    .btn__verinfo {
        margin-left: auto;
        margin-right: auto;
        display: flex;

        width: 90%;
        height: 2.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .btn__verinfo-invert {
        margin-left: auto;
        margin-right: auto;
        display: flex;

        width: 90%;
        height: 2.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        box-shadow: 4px 4px 8px #d1d1d1;

    }


    /*##################### CSS PAGE:ADOPCION MENU ##################*/
    /*##################### FIN ##################*/

    /*##################### CSS PAGE:REFUGIOS INDIVIDUALES ##################*/
    /*##################### INICIO ##################*/

    .section__refugio-indiv {
        margin-left: auto;
        margin-right: auto;

        width: 80%;
        display: flex;
        flex-direction: column;
       
      


    }

    .section__refugio-indiv h1 {
        font-size: 3.5rem;
        text-align: center;
       
    }

    .section__refugio-indiv-imgs {

        margin-left: auto;
        margin-right: auto;

    }
.section__refugio-indiv p {
    margin-bottom: 20px;
}
    .section__refugio-indiv-imgs1 img {
        display: flex;
        width: 100%;

    }

    .section__refugio-indiv-imgs1 {

        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 5px;

    }

    .section__refugio-indiv-gridphoto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }


    .img_mapa1 img {
        display: flex;

        max-width: 250px;

    }

    .btn__donativo a,
    .btn__visita a {
        font-size: 1.3rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .refugio-indiv-btns {
        
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container-refug-btn {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
    }

    .btn__donativo,
    .btn__visita {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 10px;
        width: 80%;
        height: 2.5rem;
        border-radius: 1rem;

        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    /*##################### CSS PAGE:REFUGIOS INDIVIDUALES ##################*/
    /*##################### FIN ##################*/


    /*##################### CSS PAGE:CARTA INDIVIDUAL PERRO ##################*/
    /*##################### INICIO ##################*/


    .section__dog-grid-photo {
        width: 100%;
        display: grid;
        grid-template-areas: "dest dest dest dest img1 img2"
            "dest dest dest dest img3 img4";
        align-items: center;

    }

    .section__dog-phto-container {
        width: 80%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;


    }

    .section__dog-phto-container h1 {
        font-size: 3.5rem;
        padding-top: 25px;
        padding-bottom: 40px;
        text-align: center;

    }

    .dog-img-destacada {
        width: 100%;
        grid-area: dest;

    }

    .section__dog-name {
        font-size: 2.3rem;
        text-align: left;
        font-weight: 300;
    }

    .img1 {
        width: 100%;
        grid-area: img1;
    }

    .img2 {
        width: 100%;
        grid-area: img2;
    }

    .img3 {
        width: 100%;
        grid-area: img3;
    }

    .img4 {
        width: 100%;
        grid-area: img4;
    }

    .btn__adoptar-card a {

        font-size: 1.2rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__adoptar-card {
        display: flex;
        margin-left: auto;

        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 3.5rem;
        border-radius: 1rem;
        grid-column: 2 / 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .section__dog-text-main {
        display: flex;
        flex-direction: row;
    }

    .section__dog-text-container-left {
        width: 20%;
    }

    .section__dog-text-container {
        width: 80%;
    }

    .section__dog-text-container-left h3 {
        font-weight: 100;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .section__dog-text-container p {
        padding-top: 5px;
        font-size: 1.2rem;
    }

    .section__dog-responsa {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .section__dog-responsa h3 {
        font-size: 1.8rem;
        text-align: center;
    }

    .section__dog-texttop {
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        margin-bottom: 30px;
    }

    .section__dog-texttop h1 {
        font-size: 3.5rem;

    }

    /*##################### CSS PAGE:CARTA INDIVIDUAL PERRO ##################*/
    /*##################### FIN ##################*/

    /*##################### CSS PAGE:REGISTRO REFUGIO ##################*/
    /*##################### INICIO ##################*/
    .section__form-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: start;
        justify-content: space-between;
        gap: 100px;

    }


    .inputtext {
        display: flex;
        background-color: #e9e9e9;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 0.2rem;
    }

    .btn__foto a {
        font-size: 1.8rem;
        font-weight: 300;
        color: black;
        text-decoration: none;

    }

    .btn__foto {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        width: 100%;
        height: 3rem;
        border-radius: 0.4rem;
        grid-column: span 2;
        background-color: #F9B041;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 8px #d1d1d1;

    }

    .container-derecho {
        width: 100%;
    }

    .section__form-background {
        background-color: #f5f5f5;

        padding-left: 80px;
        padding-right: 80px;
        width: 900px;
        margin-bottom: 50px;
    }


    .section__form-background h1,
    .section__form-background p {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 10px;
    }

    .section__reguser-texto {
        margin-bottom: 50px;
    }
 .section__reguser-texto h3 {
    text-align: center;
 }


    /*##################### CSS PAGE:REGISTRO REFUGIO ##################*/
    /*##################### FIN ##################*/




    .footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        color: #f1f1f1;
        min-height: 400px;
        
      align-items: center;
        justify-content: center;
    }
    .nav__footer ul{
   
    text-align: center;
   
}
   .nav__footer {    
  
    width: 80%;
    
   }
  
    .nav__footer ul li{
        padding: 5px;
        color: #e9e9e9;
    }
    .nav__footer ul li a
    {
        font-size: 1rem;
        color: #d1d1d1;
        font-weight: 300;
    }
    .footer__logo{
        margin-top: 30px;
        display: flex;
        
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__logo img {
        width: 80%;
    }
    .derechos{
        margin-top: 20px;
    }
}



/*##################### Media Query DESKTOP ##################*/
/*##################### FIN ##################*/