@import "./components/reset";
@import "./components/media-queries";
@import "./components/mixin";
@import "./components/variables";
@import "./components/main-layout";
@import "./components/inputs";
@import "./components/nav";
@import "./components/button";
@import "./components/refugios-section";
@import "./components/footer";
@import "./components/backgrounds";
@import "./pages/index";
@import "./pages/adopcioncard";
@import "./pages/menuadopcion";
@import "./pages/porqueadoptar";
@import "./pages/reguser";
@import "./pages/regrefugio";
@import "./pages/sobrenosotros";
@import "./pages/refugiocard";
@import "./pages/refugiomenu"