.adopcion{
    padding-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    h1{
        font-size: $h1desktop;
        color: $color-main;
        @include mobile {
            font-size: $h1mobile;
        }
        @include tablet {
            font-size: $h1tablet;
            width: 100%;
            text-align: center;
            line-height: 2rem;
           
        }
    }
    &__galeria{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction:row ;   
        justify-content: center;

        .imgdestacada{
            width: 100%;
        }
        .imgs{
            width: 100%;
        }
        .adopcion__galeria-imgs{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            
            @include mobile{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
        }
    }
    &__description{
        width: 100%;
        display: flex;
        flex-direction: row;

        &-box{
            width: 20%;
        }
        &-text{
            width: 100%;
        }
        @include mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            &-box{
               width: 100%; 
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-around;
               gap: 10px;
              
            }
            p{
                padding: 10px 0;
               }
        }
        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: column;
            &-box{
               width: 100%; 
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-around;
               gap: 10px;
              
            }
            p{
                padding: 10px 0;
               }
        }
    }

    &__btns{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 10px;
        .btn{
            min-width: 200px;
        }
      
    }
    &__compromiso{
        margin-top: 50px;
        width: 80%;
        @include mobile {
            margin-top: 20px;
        }
        ol{
            li{
                list-style:disc;
                padding: 10px 0;
                font-weight: 600;
                font-size: 0.8rem;
            }
            
        }
    }
    
}