.adopcion {
    width: 90%;
    margin: 0 auto;

    h1 {
        
        text-align: center;
        font-size: $h1mobile;
        color: $color-main;
        @include tablet{
            margin: 30px auto;
            font-size: $h1tablet;
        }

        @include desktop {
            margin: 30px auto;
            font-size: $h1desktop;
        }
    }

    .category {
        margin-left: 5px;
        margin-top: 5px;
        background-color: $color-main;
        padding: 0px 5px;
        width: max-content;
        border-radius: 4px;
        color: $color-withe;
    }

    &__galeria {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 500px;
        gap: 2px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__description {
        @include desktop {
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }

    &__description-box {
        @include desktop {
            width: 20%;
            text-align: left;

        }

        padding: 10px 0px;
        width: 100%;
        text-align: center;

        h2 {
            font-size: 1.9rem;
            color: $color-main;
            font-weight: 400;
            margin-bottom: 10px;

        }

        h3 {
            font-weight: 200;
            font-size: 1.2rem;
        }



    }

    &__description-text {
        width: 95%;
        margin: 0 auto;

        p {
            text-align: center;

            @include desktop {
                padding: 10px 0;
                font-size: 1.2rem;
                text-align: left;
                
            }
        }
    }

    &__btns{
        display: flex;
        flex-direction: row;
        
        width: 45%;
        gap:10px;
        @include mobile{
            width:100%;
            margin: 0 auto;
        }
        @include tablet{
            margin: 0 auto;
        }
        @include desktop{
            margin-left: auto;
        }

    }

    &__compromiso{
        margin: 0 auto;
        width: 80%;
        ol{
            margin: o auto;
            li{
                padding: 10px 0;
            }
        }
    }
}