.background__refugiomain{
    background-image: url("../content_edit/img/refugioscard/background.png");
    
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
    
}