.btn{
    
    display: flex;    
    width: 100%;
    max-width: 260px;    
    padding: .8rem .4rem;
    background-color: $color-second;
    border-radius: 1rem;
    font-size: 1.0rem;
   letter-spacing: -0.7px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    a{
        font-weight: bold;
        color: $color-black;
    }
    
    h4{
        
        padding: 0 10px;
    }

   
}

