.inputtext {
    display: flex;
    background-color: #e9e9e9;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0.2rem;
}

.container-derecho{

    .check-label{
        font-size: 1rem;
    }
}

#checkbox{
   
    max-width: 15px;
}