body {

    background-color:$color-withe;
    color: $color-black;
    font-family: Calibri, serif;
    /* background-image: url(../img/backgroundmobile.jpg); */

}


.main__container{
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}